{% extends 'base.html' %}
{% block head_title %}OmniCart-ABOUT US{% endblock %}
{% load static %}
{% block style %} <link rel="stylesheet" href="{% static 'css/gfg.css' %}"> {% endblock %}
{% block content %}


        <div class="about1">
            Welcome to OMNICART where passion meets innovation in every product we offer. We're thrilled to have you here and excited to share our story with you.
        </div>
        <hr>
        <div class="about2">
            <h2>Discover Our Story</h2>
            <br>
            <br>
            <p>At OMNICART, our journey is fueled by a passion for ordering goods. We embarked on a mission to reach orders to people. Through dedication and innovation, we've grown into a trusted destination for sers. Our team, comprised of AMAN,DEBOLINA,DEVIKA, are committed to delivering unique selling proposition. With a focus on  we strive to exceed expectations and enrich the lives of our customers. We're proud recipients of and actively contribute to. But our greatest achievements are the smiles of satisfaction from our valued customers. Explore our collection of and experience. Join us on this exciting journey, where every purchase supports our vision. Let's create something extraordinary together.
            </p>
        </div>
        <h1 class="team">DAD TEAM</h1>

        <div class="container-1">
            <div class="flex-container">
                <div class="flexbox1">
                    <img id="pic" src="ceo.jpg" alt="Aman Singh">
                    <h2 class="head1">Manager</h2>
                    <p class="a">Aman Singh</p>
                    <form action="https://www.linkedin.com/in/mpashutosh/">
                        <button class="button"><span>Connect</span></button>
                    </form>
                </div>
                <div class="flexbox1">
                    <img id="pic" src="C:\Users\DEBOLINA\OneDrive\Desktop\omnicart\OmniCart\templates\OmniCart\product\WhatsApp Image 2024-01-31 at 1.58.37 PM.jpeg" alt="Debolina Chatterjee">
                    <h2 class="head1">Captain</h2>
                    <p class="a">Debolina Chatterjee</p>
                    <form action="https://www.linkedin.com/in/debolina-chatterjee-614965268/">
                        <button class="button"><span>Connect</span></button>
                    </form>
                </div>
                <div class="flexbox1">
                    <img id="pic" src="C:\Users\DEBOLINA\OneDrive\Desktop\omnicart\OmniCart\templates\OmniCart\product\WhatsApp Image 2024-01-31 at 1.59.05 PM.jpeg" alt="Harneet kaur">
                    <h2 class="head1">Assistant Captain</h2>
                    <p class="a">Devika.S.Vinod</p>
                    <form action="https://www.linkedin.com/in/devika-s-vinod-58a629287/">
                        <button class="button"><span>Connect</span></button>
                    </form>
                </div>
            </div>
        </div>
        
        
{% endblock content %}