{% extends 'base.html' %}
{% block head_title %}OmniCart-ABOUT US{% endblock %}
{% load static %}
{% block style %} <link rel="stylesheet" href="{% static 'css/gfg.css' %}"> {% endblock %}
{% block content %}


        <div class="about1">
            Welcome to OMNICART ;where passion meets innovation in every product we offer. We're thrilled to have you here and excited to share our story with you.
        </div>
        <hr>
        <div class="about2">
            <h2>What is Geeks for Geeks exactly?</h2>
            <br>
            <br>
            <p>Geeks for Geeks is a portal for computer geeks where you get a bunch of articles, quizzes on programming,
                and algorithms to practice upon. Cool isn’t it? Let me tell you something more cool vertos's.

                Geeks for geeks has a community in our Lpu as Geeks for geeks Lpu chapter, isn't it cool? Yes, it is.

                Geeks for geeks Lpu chapter under the aegis of Division of welfare is a platform for students which
                provides the facility to sharpen up their coding skills and beat others up in the race of coding.

                We are doing something different than others at geeks for geeks and to make sure that this happens, we
                with our entire team around the clock organize events that help students enrich their coding abilities.
                We as a community of geeks wish to make their codes be the reason for the change they want to see in
                today's world.

                Find what you love, and we will make sure that you are learning it.
            </p>
        </div>
        <h1 class="team">GFGLPU TEAM</h1>

        <div class="container-1">
            <div class="flexbox1">
                <img id="pic" src="ceo.jpg" alt="Aman Singh">
                <h2 class="head1">Manager</h2>
                <p class="a">Aman Singh</p>
                <br>
                <form action="https://www.linkedin.com/in/mpashutosh/">
                    <button class="button"><span>Connect </span></button>
                </form>
            </div>
            <br>
            <div class="flexbox1">
                <img id="pic" src="C:\Users\DEBOLINA\OneDrive\Desktop\omnicart\OmniCart\templates\OmniCart\product\WhatsApp Image 2024-01-31 at 1.58.37 PM.jpeg" alt="Debolina Chatterjee">
                <h2 class="head1">Captain</h2>
                <p class="a">Debolina Chatterjee</p>
                <br>
                <form action="www.linkedin.com/in/debolina-chatterjee-614965268/"><button
                        class="button"><span>Connect </span></button></form>
            </div>
            <br>
            <div class="flexbox1">
                <img id="pic" src="C:\Users\DEBOLINA\OneDrive\Desktop\omnicart\OmniCart\templates\OmniCart\product\WhatsApp Image 2024-01-31 at 1.59.05 PM.jpeg" alt="Harneet kaur">
                <h2 class="head1">Assistant Captain</h2>
                <p class="a">Devika.S.Vinod</p>
                <br>
                <form action="www.linkedin.com/in/devika-s-vinod-58a629287/">
                    <button class="button"><span>Connect </span></button>
                </form>
            </div>
            <br>
        </div>
        <br>
        
{% endblock content %}