{% extends 'base.html' %}
{% block head_title %}OmniCart-FAQ{% endblock %}
{% load static %}
{% block style %} <link rel="stylesheet" href="{% static 'css/faq.css' %}"> {% endblock %}
{% block content %}

<body>
    <h1> Frequently Asked Questions</h1>
    <div class="faq-container">
        <div class="faq active">
            <h3 class="faq-title">How do you place an order???</h3>
            <p class="faq-text">
                To place an order, simply browse our website, select the items you wish to purchase, and add them to your cart. Then proceed to checkout, where you can enter your shipping and payment information to complete the purchase.
            </p>
            <button class="faq-toggle">
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="faq">
            <h3 class="faq-title">What payment methods do we accept??</h3>
            <p class="faq-text">
                We accept various payment methods, including credit/debit cards (Visa, Mastercard ), PayPal, and bank transfers. You can select your preferred payment option during checkout.
            </p>
            <button class="faq-toggle">
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="faq">
            <h3 class="faq-title">What is our shipping policy??</h3>
            <p class="faq-text">
                We offer standard and expedited shipping options. Our standard shipping typically takes [X] days for domestic orders and [Y] days for international orders. For more details, please refer to our Shipping Policy page.
            </p>
            <button class="faq-toggle">
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="faq">
            <h3 class="faq-title">How long will it take to receive order??</h3>
            <p class="faq-text">
                Delivery times vary depending on your location and the shipping method selected. You can estimate the delivery time during checkout before completing your purchase.
            </p>
            <button class="faq-toggle">
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="faq">
            <h3 class="faq-title">Do you offer international shipping??</h3>
            <p class="faq-text">
                Yes, we offer international shipping to many countries. Shipping costs and delivery times may vary based on the destination. Please check our Shipping Policy for more information.
            </p>
            <button class="faq-toggle">
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="faq">
            <h3 class="faq-title">How do you track my order??</h3>
            <p class="faq-text">
                Once your order has been shipped, you'll receive a shipping confirmation email with a tracking number. You can use this tracking number to monitor the status of your shipment on our website or the carrier's website.
            </p>
            <button class="faq-toggle">
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>


{% endblock content %}