{% extends 'base.html' %}
{% block head_title %}OmniCart-TERMS AND CONDITIONS{% endblock %}
{% load static %}
{% block style %} <link rel="stylesheet" href="{% static 'css/faq.css' %}"> {% endblock %}
{% block content %}

    <section>
        <h2><b>General Questions</b></h2>
        <p><strong>Q: What is our ecommerce platform?</strong></p>
        <p>A: Our ecommerce platform is an online marketplace where you can buy and sell a variety of products.</p>

        <p><strong>Q: How do I create an account?</strong></p>
        <p>A: To create an account, click on the "Sign Up" button and follow the registration process.</p>

        <p><strong>Q: What is your shipping policy?</strong></p>
        <p>A: We offer standard and expedited shipping options. Our standard shipping typically takes [X] days for domestic orders and [Y] days for international orders. For more details, please refer to our Shipping Policy page..</p>

        <p><strong>Q: Do you offer international shipping?</strong></p>
        <p>A: Yes, we offer international shipping to many countries. Shipping costs and delivery times may vary based on the destination. Please check our Shipping Policy for more information.</p>

        <p><strong>Q: What is your return and exchange policy?</strong></p>
        <p>A: We want you to be completely satisfied with your purchase. If you're not happy with your order, you can return it for a refund or exchange within [X] days of receipt. Please review our Return Policy for eligibility criteria and instructions.</p>
    </section>

    <section>
        <h2>Order and Payment</h2>
        <p><strong>Q: How do I place an order?</strong></p>
        <p>A: Select the desired products, add them to your cart, and proceed to checkout to place an order.</p>

        <p><strong>Q: What payment methods do you accept?</strong></p>
        <p>A: We accept credit/debit cards and other secure payment methods. View our payment options during checkout.</p>

        <p><strong>Q: How do I place an order?</strong></p>
        <p>A: To place an order, simply browse our website, select the items you wish to purchase, and add them to your cart. Then proceed to checkout, where you can enter your shipping and payment information to complete the purchase.</p>

        <p><strong>Q: How do I track my order?</strong></p>
        <p>A: Once your order has been shipped, you'll receive a shipping confirmation email with a tracking number. You can use this tracking number to monitor the status of your shipment on our website or the carrier's website.</p>

        <p><strong>Q: Can I cancel or modify my order after it's been placed?</strong></p>
        <p>A: We strive to process orders quickly, but if you need to cancel or modify your order, please contact our customer support team as soon as possible. We'll do our best to accommodate your request, but once an order has been shipped, it cannot be canceled or modified.</p>
    </section>
    
{% endblock content %}

