{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/moneyback.css'  %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <title>Money Back Policy</title>
</head>
<body>

  <div class="money-back-container">
    <h1>Money Back Policy</h1>

    <div class="feature">
      <i class="fas fa-lock animated-icon"></i>
      <p>100% Secure Transactions - Ensuring your financial safety with top-notch security measures.</p>
    </div>

    <div class="feature">
      <i class="fas fa-hand-holding-usd"></i>
      <p>30-Day Money Back Guarantee - If you're not satisfied, we'll refund your purchase within 30 days.</p>
    </div>

    <div class="feature">
      <i class="fas fa-clock"></i>
      <p>Quick Refund Processing - Experience fast and efficient processing of your refund requests.</p>
    </div>

    <div class="feature">
      <i class="fas fa-headset"></i>
      <p>24/7 Customer Support - Our support team is available round-the-clock to assist you.</p>
    </div>

  </div>

</body>
</html>
