{% extends 'base.html' %}
{% load static %}

{% block head_title %}OmniCart- Payment Policy{% endblock head_title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/pymntmethods.css' %}">
{% endblock styles %}

{% block content %}

<body>

<div class="intro-container">
    <h1>Welcome to Our Secure Payment Options</h1>
</div>

<div class="payment-details-container">
    <div class="payment-details-card">
        <img src="{% static 'images/creditcard.png' %}" alt="Credit Card" height="200px">
        <h2>Credit Card</h2>
        <p>Securely pay with your credit card. We accept major credit cards, including Visa, MasterCard, and American Express.</p>
        <ul>
            <li>No additional fees</li>
            <li>Secure transactions</li>
            <li>Quick processing</li>
        </ul>
    </div>

    <div class="payment-details-card">
        <img src="{% static 'images/cash.jpg' %}" alt="Cash on Delivery" height="200px">
        <h2>Cash on Delivery</h2>
        <p>Pay with cash when your order is delivered to your doorstep. Enjoy the flexibility of paying upon receiving your items.</p>
        <ul>
            <li>Pay upon delivery</li>
            <li>Convenient option</li>
            <li>Available for eligible orders</li>
        </ul>
    </div>

    <div class="payment-details-card">
      <img src="{% static 'images/paypal.png' %}" alt="PayPal" height="200px">
      <h2>PayPal</h2>
      <p>Quick and easy payments with PayPal. Link your bank account or use your credit/debit card for seamless transactions.</p>
      <ul>
          <li>Fast checkout</li>
          <li>Buyer protection</li>
          <li>Trusted worldwide</li>
      </ul>
  </div>
</div>

</body>
</html>

{% endblock content %}
