{% extends 'base.html' %}
{% load static %}

{% block head_title %}OmniCart- Payment Policy{% endblock head_title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/pymntmethods.css' %}">
{% endblock styles %}

{% block content %}

<body>

<div class="intro-container">
    <h1>Welcome to Our Secure Payment Options</h1>
    <p>Explore the variety of secure payment methods we offer for a smooth and hassle-free shopping experience. Choose the option that suits you best!</p>
</div>

<div class="payment-details-container">
    <div class="payment-details-card">
        <img src="{% static 'images/creditcard.png' %}" alt="Credit Card" height="200px">
        <h2>Credit Card</h2>
        <p>Securely pay with your credit card. We accept major credit cards, including Visa, MasterCard, and American Express.</p>
        <ul>
            <li>No additional fees</li>
            <li>Secure transactions</li>
            <li>Quick processing</li>
        </ul>
    </div>

    <div class="payment-details-card">
        <img src="{% static 'images/gpay.png' %}" alt="Google Pay" height="200px">
        <h2>Google Pay</h2>
        <p>Convenient payments with Google Pay on Android devices. Enjoy a fast and secure checkout experience.</p>
        <ul>
            <li>Mobile payments</li>
            <li>Easy integration</li>
            <li>Secure transactions</li>
        </ul>
    </div>

    <div class="payment-details-card">
      <img src="{% static 'images/paypal.png' %}" alt="PayPal" height="200px">
      <h2>PayPal</h2>
      <p>Quick and easy payments with PayPal. Link your bank account or use your credit/debit card for seamless transactions.</p>
      <ul>
          <li>Fast checkout</li>
          <li>Buyer protection</li>
          <li>Trusted worldwide</li>
      </ul>
  </div>
</div>

</body>
</html>

{% endblock content %}