<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="return.css">
  <title>E-commerce Return Policy</title>
</head>
<body>
  <header class="header">
    Return Policy
  </header>

  <section class="return-policy-container animation-example">
    <h2>Our Return Policy</h2>
    <div class="return-options">
      <div class="return-option">
        <div class="icon">&#128465;</div>
        <h3>Free Returns</h3>
        <p>Enjoy hassle-free returns with our free return shipping option.</p>
      </div>

      <div class="return-option">
        <div class="icon">&#128142;</div>
        <h3>30 Days Money Back</h3>
        <p>If you're not satisfied, we offer a full refund within 30 days of purchase.</p>
      </div>

      <div class="return-option">
        <div class="icon">&#127379;</div>
        <h3>Easy Process</h3>
        <p>Return items easily through our online portal with just a few clicks.</p>
      </div>

      <div class="return-option">
        <div class="icon">&#128218;</div>
        <h3>Extended Warranty</h3>
        <p>Extend your product warranty for added peace of mind.</p>
      </div>

      <div class="return-option">
        <div class="icon">&#128257;</div>
        <h3>Quick Refunds</h3>
        <p>Expect speedy refunds processed within 3 business days.</p>
      </div>
    </div>

 
  </section>
</body>
</html>
