{% extends 'base.html' %}
{% block head_title %}OmniCart-TERMS AND CONDITIONS{% endblock %}
{% load static %}
{% block style %} <link rel="stylesheet" href="{% static 'css/tac.css' %}"> {% endblock %}
{% block content %}

    <section>
        <h2><b> Terms and Conditions: Your Guide to Seamless Shopping</b></h2>
        <p>Welcome to our e-commerce platform! Our "Terms and Conditions" page outlines the guidelines and agreements governing your use of our website and services. By accessing or making purchases through our platform, you agree to abide by these terms, ensuring a transparent and secure shopping experience for all users.

            Within our terms and conditions, you'll find detailed information regarding various aspects of your interaction with our website, including:</p>
    </section>

    <section>
        <h2>1. User Responsibilities:</h2>
        <p>Understand your obligations as a user, including the accuracy of information provided during registration and compliance with our community guidelines and policies.</p>
    </section>

    <section>
        <h2>2. Intellectual Property Rights: </h2>
        <p>Learn about the protection of intellectual property rights, including trademarks, copyrights, and content usage restrictions to respect the creative work of others.</p>
    </section>

    <section>
        <h2>3. Payment and Billing:</h2>
        <p>Familiarize yourself with payment terms, billing procedures, and any applicable fees or taxes associated with your purchases.</p>
    </section>

    <section>
        <h2>4. Ordering and Shipping:</h2>
        <p>Explore our policies on order placement, product availability, shipping methods, and delivery times to ensure a seamless shopping experience.</p>
    </section>

    <section>
        <h2>5. Governing Law</h2>
        <p>These Terms and Conditions are governed by and construed in accordance with the laws of [Your Jurisdiction]. Any disputes related to these terms shall be subject to the exclusive jurisdiction of the courts in [Your Jurisdiction].</p>
    </section>

{% endblock content %}