{% extends 'base.html' %}
{% block head_title %}OmniCart-TERMS AND CONDITIONS{% endblock %}
{% load static %}
{% block style %} <link rel="stylesheet" href="{% static 'css/tac.css' %}"> {% endblock %}
{% block content %}

    <section>
        <h2>1. Acceptance of Terms</h2>
        <p>By accessing or using our ecommerce system, you agree to comply with and be bound by these Terms and Conditions.</p>
    </section>

    <section>
        <h2>2. Privacy Policy</h2>
        <p>Our Privacy Policy outlines how we collect, use, and protect your personal information. By using our services, you agree to the terms of our Privacy Policy.</p>
    </section>

    <section>
        <h2>3. User Accounts</h2>
        <p>To access certain features of our ecommerce system, you may need to create a user account. You are responsible for maintaining the confidentiality of your account information and agree to accept responsibility for all activities that occur under your account.</p>
    </section>

    <!-- Add more sections based on your specific terms and conditions -->

    <section>
        <h2>4. Limitation of Liability</h2>
        <p>We are not liable for any direct, indirect, incidental, consequential, or special damages arising out of or in any way connected with the use of our ecommerce system.</p>
    </section>

    <section>
        <h2>5. Governing Law</h2>
        <p>These Terms and Conditions are governed by and construed in accordance with the laws of [Your Jurisdiction]. Any disputes related to these terms shall be subject to the exclusive jurisdiction of the courts in [Your Jurisdiction].</p>
    </section>

{% endblock content %}