@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
  
}

.money-back-container {
    max-width: 1200px;
    background: linear-gradient(135deg, #fff5e1 0%, #fffefe 100%);
    padding: 100px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.header-font {
    color: #e44d26;
    font-size: 55px;
    margin-bottom: 20px;
}

p {
    color: #555555;
    font-size: 27px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.highlight {
    color: #e44d26;
    font-weight: bold;
}

.additional-options {
    margin-top: 25px;
}

h2 {
    color: #333333;
    font-size: 28px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    color: #555555;
    font-size: 18px;
    margin-bottom: 10px;
}

a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #e44d26;
    text-decoration: underline;
}
