{% extends 'base.html' %}
{% block head_title %}OmniCart-TERMS AND CONDITIONS{% endblock %}
{% load static %}
{% block style %} <link rel="stylesheet" href="{% static 'css/help.css' %}"> {% endblock %}
{% block content %}


    <section>
        <h2>Frequently Asked Questions (FAQ)</h2>
        <p>Explore our frequently asked questions to find answers to common queries about our ecommerce platform.</p>
        <!-- Include FAQ content here -->
    </section>

    <section>
        <h2>Getting Started</h2>
        <p>Learn how to get started with our platform and make the most out of your ecommerce experience.</p>
        <!-- Include Getting Started content here -->
    </section>

    <section>
        <h2>Contact Support</h2>
        <p>If you can't find the information you need, please contact our support team for assistance.</p>
        <!-- Include Contact Support information here -->
    </section>

{% endblock content %}  